<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Movie - MovieWeb App</title>
    <link rel="stylesheet" href="/static/movies_style.css" />
  </head>
  <body>
    <div class="title-container">
      <h1>Add a New Movie</h1>
    </div>

    <div class="form-container">
      <form
        action="{{ url_for('add_movie', user_id=user_id) }}"
        method="POST"
        class="styled-form"
      >
        <label for="title" class="form-label">Movie Title:</label>
        <input
          type="text"
          id="title"
          name="title"
          class="form-input"
          placeholder="Enter movie title"
          required
        />
        <button type="submit" class="primary-button">Add Movie</button>
      </form>
    </div>

    <div class="button-container">
      <a href="{{ url_for('user_profile', user_id=user_id) }}">
        <button class="back-button">Back to User</button>
      </a>
    </div>
  </body>
</html>
