<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - MovieWeb App</title>
    <link rel="stylesheet" href="/static/homepage_style.css" />
  </head>
  <body>
    <div class="title-container">
      <h1>Welcome to MovieWeb App</h1>
    </div>
    <div class="description-container">
      <p>Manage your favorite movies and users effortlessly. Start exploring by clicking below!</p>
    </div>
    <div class="button-container">
      <a href="/users">
        <button class="primary-button">Manage Users</button>
      </a>
    </div>
  </body>
</html>
