<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notification - MovieWeb App</title>
    <link rel="stylesheet" href="/static/movies_style.css"/>
  </head>
  <body>
    <div class="title-container">
      <h1>{{ msg }}</h1>
    </div>
    <div class="button-container">
      <a href="{{ url_for('user_profile', user_id=user_id) }}">
        <button class="back-button">Back to User</button>
    </div>
  </body>
</html>
